<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript">
var source, destination;
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
google.maps.event.addDomListener(window, 'load', function () {
    new google.maps.places.SearchBox(document.getElementById('txtSource'));
    
    directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
});</script>
<h3>add_warehouse</h3>
<form action="" method="POST">{% csrf_token %}
Location:

<input id="txtSource" type="text" name="location" required><br>
cold_total:<input type="number" name="cold" min="0" required><br>
hot_total:<input type="number" name="hot" min="0" required><br>
mild_total:<input type="number" name="mild" min="0" required><br>
severe_total:<input type="number" name="severe" min="0" required><br>
<input type="submit" value="add">

</form>
