<!DOCTYPE html>
<html>
<head>
	<title>Store Smart</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style type="text/css">
	body
	{
		margin-top: 70px;
		
		
	}
</style>
</head>

<body>
<div class="container-fluid">
<div class="row">
	<div class="col-md-4"></div>

<div class="col-md-4">

<h1 style="text-align:center; font-family:Monotype Corosiva;">REGISTER</h1><br />
<form action="" method="POST"> {% csrf_token %}
	{{form.as_p}}
	
				 
  
  				<input type="submit" class="btn btn-primary center-block">
</form>
</div>
</div>
</div>
</body>
</html>
